<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="css/login.css" crossorigin="anonymous">

  </head>

  <body>
    <div class="container" id="container">
        <div class="form-container sign-in">
          <form action="/auth/login" method="POST">
                <h1>Sign In</h1>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-github"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  </div>
                <span>or use your email password</span>
                <div class="input-container">
                    <input type="email" id="email" name="email" placeholder=" " required />
                    <label for="email">Email</label>
                </div>
                <div class="input-container">
                    <input type="password" id="password" name="password" placeholder=" " required />
                    <label for="password">Password</label>
                </div>  
                <span class="error-message" id="error-message" style="display: none;"></span>
                <a href="#">Forget Your Password?</a>
                <button>Sign In</button>
                <% if (typeof message !== 'undefined' && message) { %>
                    <div id="blur-background" class="blur-background"></div>

                    <div id="custom-alert" class="custom-alert">
                        <div class="alert-content">
                            <div class="message"><%= message %></div>
                            <button id="alert-ok-btn">OK</button>
                        </div>
                    </div>

                <% } %>                
          </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button class="hidden" id="login">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Xin chào</h1>
                    <p>Chào mừng bạn đến với E-shop</p>
                    <button class="hidden" id="register" type="submit" href="/register">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/errol-login.js"></script>
    

</html>
