<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="css/register.css"
    />
  </head>

  <body>
    <div class="container">
      <!-- Register Form -->
      <form action="/auth/register" method="POST">
        <h1>Sign Up</h1>
        <div class="social-icons">
          <a href="#"><i class="fab fa-google-plus-g"></i></a>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <div class="input-container">
          <input type="text" id="name" name="name" placeholder=" " required />
          <label for="name">Name</label>
        </div>
        <div class="input-container">
          <input type="email" id="email" name="email" placeholder=" " required />
          <label for="email">Email</label>
        </div>
        <div class="input-container">
          <input type="password" id="password" name="password" placeholder=" " required />
          <label for="password">Password</label>
        </div>
        <div class="input-container">
          <input type="password" id="password_confirm" name="password_confirm" placeholder=" " required />
          <label for="password_confirm">Password Confirm</label>
        </div>
        <button type="submit">Sign Up</button>
      </form>
      <p style="font-size: 20px;">Already have an account? <a style="font-size: 20px;" href="/login">Login</a></p>
    </div>
    <script src="darkmode.js">
    </script>
  </body>
</html>
