.sticky-header, .header-design {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #e2e2e2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.dark-mode .navbar, .dark-mode .card, .dark-mode .card-body.info, .dark-mode .table, .dark-mode .form-group, .dark-mode #editor, .dark-mode .button-input, .dark-mode .dropdown-menu, .dark-mode .alpha {
  background-color: rgb(48, 48, 48);
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.dark-mode .header-design{
  background-color: rgb(100, 99, 99);
}
.product-card, .dark-mode .product-card {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  height: auto;
}
.product-card img {
  height: auto;
  object-fit: cover;
  width: 100%;
}
.product-card:hover {
  transform: translateY(-5px) scale(1.01);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
.btn-primary, .btn-danger, .btn-success {
  height: 60px;
  width: 70%;
  transition: transform 0.3s ease;
}
.btn:hover {
  transform: translateY(-3px);
}
.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.preview {
  width: 650px;
  margin-left: -2%;
}
.form-check .form-check-input {
  float: left;
  margin-left: 0.5em;
}
#preview-name, #preview-description, .card-body.info, .alpha, .table {
  word-wrap: break-word;
  white-space: normal;
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.table {
  display: flex;
  width: 100%; /* Chiếm toàn bộ chiều rộng của cửa sổ */
  height: 100%; /* Chiếm toàn bộ chiều cao của cửa sổ */
  box-sizing: border-box; /* Đảm bảo padding và border được tính trong kích thước */
  padding: 20px; /* Padding có thể điều chỉnh theo nhu cầu */
  overflow: auto; /* Thêm cuộn nếu nội dung vượt quá chiều cao */
  flex-wrap: nowrap; /* Đảm bảo các phần tử không xuống dòng */
  align-items: flex-start; /* Canh đều các phần tử ở đầu */
}
.the{
  width: 20%;
}

/* Đảm bảo các phần tử con có độ rộng tối ưu */
.table > div {
  width: 100%;
  max-width: 600px; /* Đặt chiều rộng tối đa cho mỗi phần tử */
  margin-bottom: 0; /* Tạo khoảng cách giữa các phần tử */
}

.form-control {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}
#sale-value-container{
  margin-left: 5%;
  margin-top: 1%;
}
.nav-link {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}
.nav-link::after {
  content: "";
  position: absolute;
  left: 16%;
  bottom: 0;
  width: 70%;
  height: 2px;
  background-color: #0056ea;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.nav-link.home:hover::after, .nav-link.bxh:hover::after, .nav-link.giohang:hover::after, .nav-link.taosanpham:hover::after, .nav-link.login:hover::after, .nav-link.dangky:hover::after {
  transform: scaleX(1);
}
.home-icon, .bxh-icon, .cart-icon, .add-icon {
  width: 30px;
  height: 30px;
}
.card-body {
  flex: 1;
}
.name_price {
  display: flex;
  gap: 10px;
}
body {
  background-color: #F5EFFF;
  color: #000;
  transition: background-color 0.3s ease, color 0.3s ease;
}
body.dark-mode {
  background-color: #1b1b1b;
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
}
.nav-link.dropdown-toggle:hover + .dropdown-menu, .dropdown-menu:hover {
  display: block;
}
.button-input, .dropdown-item {
  color: black;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.button-input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #007bff;
  border-radius: 5px;
}
/* CSS Styles for Sale Button */
.sale-btn {
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
label {
  display: inline-block;
  margin-left: -16%;
  margin-top: 2%;
}
.sale-label span {
  pointer-events: none;
}
.form-check-input {
  width: 15%;
  height: 4em;
  margin-right: 5px;
}
.button-submit {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 7%;
}
.button-submit:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
.form-check-input {
  margin-left: 0.5em;
}
.button-submit:active {
  background-color: #004494;
  transform: scale(1.02);
}
.dark-mode a, .dark-mode .change-mode, .dark-mode #quantity::placeholder, .dark-mode #name::placeholder, .dark-mode #price::placeholder,.dark-mode #saleval::placeholder ,.dark-mode #description-input::placeholder  {
  color: white;
}
.change-mode {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
  margin-left: 15px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d6d6d6;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.preview h2 {
  margin-left: 32%;
}
input:checked + .slider {
  background-color: #4CAF50;
}
input:checked + .slider:before {
  transform: translateX(24px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
#editor {
  height: 222px !important;
  background-color: white;
  color: #000;
}
#preview-description {
  white-space: normal; /* Đảm bảo nội dung xuống dòng khi hết chiều rộng */
  word-wrap: break-word; /* Chia nhỏ từ nếu từ dài hơn chiều rộng */
  overflow-wrap: break-word; /* Đảm bảo các từ dài không vượt quá chiều rộng */
}


.button-add{
  margin-left: 2%;
  height: 60px !important;
  width: 95% !important;
}
.class_preview{
  height: 445px;
  width: 60%;
  margin-left: 22%;
}
.nut-bam{
  height: 88%;
  width: 100%;
}
.add{
  margin-left: -4%;
}
html, body {
  margin: 0; /* Bỏ khoảng cách mặc định */
  padding: 0; /* Bỏ padding mặc định */
  height: 100%; /* Đặt chiều cao của body và html là 100% */
}
.add-product{
  margin-left: 15%;
}
.form-container{
  margin-left: 2%;
}
.history {
  width: 300px; /* Thay đổi kích thước chiều rộng theo ý bạn */
  height: 400px; /* Thay đổi kích thước chiều cao theo ý bạn */
  background-color: #f2f2f2; /* Màu nền */
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto; /* Thêm thanh cuộn nếu nội dung vượt quá kích thước */
  margin-top: 3%;
}

@media (max-width: 1880px) and (min-width: 1701px) {
  .table {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 101%;
      max-width: 20000px;
  }
  .preview, .add, .form-container {
      width: 30%;
      margin-bottom: 20px;
      
  }
}
@media (max-width: 1700px) and (min-width:1401px) {
  .table {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 10px;
  }

  .preview, .add, .form-container {
      width: 90%;
      max-width: 100%;
      margin-bottom: 20px; /* Khoảng cách giữa các phần tử */
  }
}

@media (max-width: 1400px) and (min-width: 1001px) {
  #editor {
      height: 300px !important;
  }
  .table {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 101%;
      max-width: 2000px;
  }
}

@media (max-width: 1300px) and (min-width: 1001px) {
  .preview, .add, .form-container {
      width: 90%;
      max-width: 100%;
  }
  .table {
      display: flex;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
}
/* Media query chỉ áp dụng cho màn hình dưới 1000px */
@media (max-width: 1000px) { 
  .preview {
      width: 100%;
      margin-left: -1%;
      margin-top: 153%;
  }
  .add {
    margin-left: 8%;
  }
  .table {
      width: 100%;
      padding: 10px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
}
body .table {
  margin: 0;
  padding: 0;
  height: 100vh;
  transition: background-image 0.5s ease;
  background-image: url('/img/defaut-background.jpg'); /* URL nền mặc định */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.alpha{
  color: #000;
}
.dark-mode .alpha{
  color: #ffffff;
}
.description-box {
  margin-top: 10px;
  width: 60%;
  height: auto;
  display: flex;
  margin-left: 22%;
  padding: 10px;
  overflow-wrap: break-word; /* Cho phép nội dung dài xuống dòng */
  white-space: normal; /* Cho phép tự động xuống dòng */
  word-break: break-word; /* Tự xuống dòng cho từ quá dài */
}


